@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg: #ffffff;
    --color-bg-offset: #f7f7f9;
    --color-text: #373a3c;
    --color-text-offset: #818a91;
    --color-primary: #ff335f;
    --color-primary-offset: #ff1447;
    --color-secondary: #43a9a3;
    /* ******************************** */
    --color-bg-dark: #0e141b;
    /** --color-bg-offset-dark: #252526;**/
    --color-bg-offset-dark: #32323f;
    --color-text-dark: #ffffff;
    --color-text-offset-dark: #818a91;
    --color-border-dark: #2d2d2d;
    --color-primary-dark: #ff5277;
    --color-primary-offset-dark: #ff2957;
    --color-secondary-dark: #43a9a3;
    --color-black-dark: #000;
  }
}

@layer components {
  .active {
    border-bottom: 4px solid var(--color-primary);
  }

  li {
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
  }

  li::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 4px;
    transition: width 0.3s ease;
    margin: 0 auto;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-bg-offset);
    z-index: -1;
    cursor: pointer;
  }

  li:hover::before {
    width: 100%;
  }
}
