@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    border-bottom: 4px solid theme("colors.pink.500");
  }

  li {
    position: relative;
    padding-bottom: 4px;
    /* background-color: beige; */
  }

  li::before {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    transition: width 0.3s ease;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: grey;
    z-index: 500;
  }

  li:hover::before {
    width: 100%;
  }
}
