@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
  width: 100%;
  margin: auto;
  /* --slide-height: auto;
  --slide-spacing: 1.8rem;
  --slide-size: 100%; */
  --slide-height: 30rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  /* margin-left: calc(var(--slide-spacing) * -1); */
  margin-top: calc(var(--slide-spacing) * -1);
  height: calc(var(--slide-spacing) + var(--slide-height));
  flex-direction: column;
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  /* min-width: 0;
  padding-left: var(--slide-spacing); */
  min-height: 0;
  padding-top: var(--slide-spacing);
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--color-primary), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--color-bg-offset);
  /* original */
  /* width: 3.6rem;
  height: 3.6rem; */
  width: 2.6rem;
  height: 2.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--color-text-offset);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--color-bg-offset);
  /* background-color: var(--background-site); */
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 13rem;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  background-color: var(--color-text);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

@layer base {
  :root {
    --text-body: rgb(54, 49, 61);
    --detail-medium-contrast: rgb(234, 234, 234);
    /* ********************************* */
    --color-bg: #ffffff;
    /* --color-bg-offset: #f7f7f9; */
    --color-bg-offset: #e0e0e0;
    --color-text: #373a3c;
    --color-text-offset: #818a91;
    --color-primary: #ff335f;
    --color-primary-offset: #ff1447;
    --color-secondary: #43a9a3;
    /* ******************************** */
    --color-bg-dark: #0e141b;
    /** --color-bg-offset-dark: #252526;**/
    --color-bg-offset-dark: #32323f;
    --color-text-dark: #ffffff;
    --color-text-offset-dark: #818a91;
    --color-border-dark: #2d2d2d;
    --color-primary-dark: #ff5277;
    --color-primary-offset-dark: #ff2957;
    --color-secondary-dark: #43a9a3;
    --color-black-dark: #000;
  }
}

@layer components {
  .active {
    border-bottom: 4px solid var(--color-primary);
  }

  li {
    display: inline-block;
    position: relative;
    padding-bottom: 4px;
  }

  li::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 4px;
    transition: width 0.3s ease;
    margin: 0 auto;
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-bg-offset);
    z-index: -1;
    cursor: pointer;
  }

  li:hover::before {
    width: 100%;
  }
}
.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}
